# override with env file

#  TLS certificates
ROOT_CERTIFICATE_PATH=./certificates/ca.crt
SERVER_CERTIFICATE_PATH=./certificates/server.crt
SERVER_PRIVATE_KEY_PATH=./certificates/server.pem

#  gRPC server
GRPC_SERVER_ADDRESS=