#  env variables 
# override with env file
#  MongoDB
MONGO_PROTOCOL=
COLLECTION_NAME=
MONGO_USER=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=


#  TLS certificates
ROOT_CERTIFICATE_PATH=./certificates/ca.crt
SERVER_CERTIFICATE_PATH=./certificates/server.crt
SERVER_PRIVATE_KEY_PATH=./certificates/server.pem

#  gRPC server
GRPC_SERVER_ADDRESS=

#  gRPC client
GRPC_CLIENT_ADDRESS=